.table-default {
    border-collapse: collapse;
    width: 100%;
}
.table-default thead > tr > th {
    position: relative;
}
.table-default tbody > tr > td {
    vertical-align: top;
}
@media screen and (max-width: 767px) {
  .table-default {
    border: 0;
  }
  .table-default thead {
    display: none;
  }
  .table-default tbody td, .table-default tbody th {
    display: block !important;
  }
  .table-default tr {
    margin-bottom: 0.5rem;
    display: block;
  }
  .table-default td:before {
    content: attr(data-label);
    float: left;
  }
}

.table-default {
  border: 1px solid #eee;
}
.table-default thead > tr > th {
  border: 1px solid #eee;
  font-size: 12px;
  padding: 1rem;
  text-transform: uppercase;
  text-align: left;
}
.table-default tbody > tr > td {
  color: #919191;
  padding: 1rem;
}
.table-default.table-striped tbody tr:nth-of-type(odd) {
  background: #f9f9f9;
}
@media screen and (max-width: 767px) {
  .table-default {
    border: 0;
  }
  .table-default tr {
    background: white;
    border: 1px solid #eee;
  }
  .table-default td {
    border-bottom: 1px solid #eee;
    border-top: 0 !important;
    font-size: 13.6px;
    text-align: right;
  }
  .table-default td:last-child {
    border-bottom: 0;
  }
  .table-default td:before {
    text-transform: uppercase;
  }
}

body {
  font-size: 16px;
}

a {
  color: #4A90E2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 4rem;
}

.fx {
  display: flex;
}

.fx-1 {
  flex: 1;
}

.fx-0 {
  flex: 0;
}

.place-end {
  place-content: flex-end;
}

.url-input {
  padding: 0.4em;
}

.submit-url {
  margin-left: 0.6em;
  padding: 0.4em 0.8em;
  background-color: #233E8B;
  border-style: none;
  border-radius: 4px;
  color: #ffffff;
}

#url-creation-response-container {
  place-content: center;
  display: none;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: 1em 0em;
  box-shadow: 2px 4px 1px #f6f6f6;
}

#url-creation-response-container > #url-creation-response {
  padding: 0.7em;
  place-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 2px 4px 1px #f6f6f6;
}

.pagination-link {
  margin-top: 1em;
  padding: .4em;
  background: #fff;
  color: #000000;
  border-color: #919191;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #919191;
}

.pagination-link.next {
  margin-left: 1em;
}

.pointer {
  cursor: pointer;
}

input[disabled=true] {
  opacity: 0.4;
  cursor: not-allowed !important;
}